



#notLogged {
  visibility: hidden;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin-top: -10em;
  margin-left: -17.5em;
  background: #42c934;
  width: 35em;
  height: 20em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.notLog {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  padding: 0;
  text-align: center;
  border-style: solid;
  width: 10.3em;
  margin-left: auto;
  margin-right: auto; 
  align-items: center;
  height: 3.2em;
  background: #42c934;
}

.notLog:hover {
  background: yellow;
}


#topQuote {
  font-family: 'Great Vibes', serif;
  font-size: 2.5em;
  margin-bottom: 2em;
  margin-top: 1em;
}

#options {
  display: flex;
  flex-wrap: wrap;
}

.option {
  width: 200px;
  height: 240px;
  min-width: 80px;
  min-height: 80px;
  text-align: center;
  font-size: 1.9em; 
  margin: 10px;
  background-color: rgba(57, 158, 46, 0.5);
  border-radius: 59px;
  transition: 0.3s;
  -webkit-box-shadow: 2px 1px 80px 3px #274024;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 1px 80px 3px #274024;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 1px 80px 3px #274024;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.option:hover {
  background-color: rgba(57, 158, 46);
  border-radius: 80px;
  font-size: 2.2em;
  cursor: pointer;
  color: #fcc203;
  -webkit-box-shadow: 3px 3px 80px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 80px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 80px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#newGame, #mock, #signIn, #rules, #tutorials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 1;
}

offers {
  display: inline-block;
}