<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>
<body>
  <div id='cover'></div>
  <div id='sideBar'>
    {% if user %}
    <div class='menuHolder' onclick="openSlide()">
      <div id='User'>{{ user }}</div>
    </div>
    <div class='slide'>
      <div class='sideBut'>
        <button>Log out</button>
        <button>My Profile</button>
        <button>Settings</button>
        <button>Contact us</button>
      </div>
    </div>
    {% else %}
    <div class='menuHolder' onclick="openSlide()">
      <div class="menu"></div>
    </div>
    <div class='slide'>
      <div class='sideBut'>
        <button>Sign in</button>
        <button>Contact us</button>
      </div>
    </div>
  {% endif %}
  </div>
  <div id='brand'>Cucumber Cool</div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
      &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
  </div>
  <div id='profilePic'>
    <img src="static/pics/baby.svg" alt="Pic">
  </div>
  <script src="{{ url_for('static', filename='base.js') }}"></script>
</body>
</html>