{% extends "base.html" %}

{% block title %}chess{% endblock %}
{% block head %}
<head>
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='start_style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great Vibes">
</head>
{% endblock %}

{% block content %}
<div class='pop' id='notLogged'>
    <button class='x' onclick="closeDialog()"><div class='printx'>&#10005;</div></button>
  <button class='but'>Sign in</button>
  <button class='but' onclick="ifPrivate()">Play as Guest</button>
</div>

<div class='pop' id='ifPrivate'>
  <button class='x' onclick="closeDialog()"><div class='printx'>&#10005;</div></button>
  <div>
    <button class='but' value='public' onclick="openDuration(this.value)">Publick Chalange</button>
    <label>Everyone can join this game.</label>
  </div>
  <div>
    <button class='but' value='private' onclick="openDuration(this.value)">Private Chalange</button>
    <label>Sent an invitation to a friend.</label>
  </div>
  <button class='back' value='ifPrivate' onclick="back(this.value)">&#171; back</button>
</div>

<div class='pop' id='duration'>
  <button class='x' onclick="closeDialog()"><div class='printx'>&#10005;</div></button>
  <button class='miniOption' value='0' onclick="setDuration(this.value)">
    <p>Game Without Time Limit<p>
  </button>
  <button class='miniOption' value='5' onclick="setDuration(this.value)">
    <p>Fast as Lightning<p>
    <p>5 min</p>
  </button>
  <button class='miniOption' value='10' onclick="setDuration(this.value)">
    <p>Fast Game<p>
    <p>10 min</p>
  </button>
  <button class='miniOption' value='30' onclick="setDuration(this.value)">
    <p>Longer Game<p>
    <p>30 min</p>
  </button>
  <button class='miniOption' value='60' onclick="setDuration(this.value)">
    <p>Long Game<p>
    <p>1 hour</p>
  </button>
  <button class='miniOption' value='custom' onclick="setDuration(this.value)">
    <p>Custom Game<p>
    <p>Set Any Time Limit</p>
  </button>
  <button class='back' value='duration' onclick="back(this.value)">&#171; back</button>
</div>

<div id='topQuote'>“One doesn’t have to play well, it’s enough to play better than your opponent.” – Siegbert Tarrasch</div>

{% if my_games %}
<div class="myGemes">
  <h2>My games</h2>
  {% for item in my_games %}
    {{item.id}}
  {% endfor %}
</div>
{% endif %}

<section id='options'>
  <div class='option'>
    <div id='signIn' onclick="location.href = '{{ url_for('login') }}';">Log in</div>
  </div>
  <div class='option'>
    <div id='newGame' onclick="startDialog()"> start</br> game </div>
  </div>
  <div class='option'>
    <div id='rules' onclick="window.open('https://en.wikipedia.org/wiki/Rules_of_chess')"> chess rules</div>
  </div>
  <div class='option'>
    <div id='tutorials' onclick="window.open('https://www.chessstrategyonline.com/tutorials')">tutorials</div>
  </div>
  <div class='option'>
    <div id='mock'> mock</div>
  </div>
</section>

<a href="{{ url_for('offer') }}"><button>create chalange</button></a>
<button onclick="startAsinc()">Refresh</button>

<h1>Game lobby</h1>
<h3>Choose your opponent wisely</h3>

<div id='gameOffers'>
  <ul id="offers">
    {% for item in offers %}
        <h2>Game offers</h2>
          <a href="{{ url_for('start_game', offer = item.id) }}">
            <h3>Play against {{item.id}}</h3>
            </a>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    var user = '{{ user }}';
    console.log('user out', user);
  </script>
<script src="{{ url_for('static', filename='chess.js') }}"></script>

{% endblock %}
