{% extends "base.html" %}

{% block title %}chess{% endblock %}
{% block head %}
<head>
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='start_style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great Vibes">
</head>
{% endblock %}

{% block content %}

<div id='topQuote'>“One doesn’t have to play well, it’s enough to play better than your opponent.” – Siegbert Tarrasch</div>

<section id='options'>
  <div class='option'>
    <div id='signIn' onclick="location.href = '{{ url_for('login') }}';">Log in</div>
  </div>
  <div class='option'>
    <div id='newGame' onclick="location.href = '{{ url_for('offer') }}';"> start</br> game </div>
  </div>
  <div class='option'>
    <div id='rules' onclick="window.open('https://en.wikipedia.org/wiki/Rules_of_chess')"> chess rules</div>
  </div>
  <div class='option'>
    <div id='tutorials' onclick="window.open('https://www.chessstrategyonline.com/tutorials')">tutorials</div>
  </div>
  <div class='option'>
    <div id='mock'> mock</div>
  </div>
</section>

<a href="{{ url_for('offer') }}"><button>create chalange</button></a>
<button onclick="startAsinc()">Refresh</button>

<h1>Game lobby</h1>
<h3>Choose your opponent wisely</h3>

<div id='gameOffers'>
  <ul id="offers">
    {% for item in offers %}
        <h2>Game offers</h2>
          <a href="{{ url_for('start_game', offer = item.id) }}">
            <h3>Play against {{item.id}}</h3>
            </a>
    {% endfor %}
    </ul>
</div>

<script>

  //crazyTime = setInterval(refresh, 1000);
  function refresh(){
    fetch('/chess/lobby').then(response => response.json()).then(function(response){
      if(response.game.id){
        location = "chess/black/" + response.game.id;
      }
      //var newGame = document.getElementById('challange');
      //newGame.innerHTML = response.playerOne;
      //sessionStorage.setItem('userId', response.playerOne);
    }).catch(function(err){
      console.log('err', err);
    })
  }
  // window.onload = crazyTime();
  // function startGame(){
  //   fetch('/game')
  // }

  // let user = sessionStorage.getItem('userId');
  // window.onload = function(){
  //   console.log('bla bla bla');
  //   if(user){

  //   }
  // }
</script>

{% endblock %}